@model IEnumerable<MyVidly.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

@if (Model == null)
{
    <text>We don't have any customers yet.</text>
}

<table class="table table-­‐bordered table-­‐hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Membership Type</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cust in Model)
        {
            <tr>
                <td>@Html.ActionLink(cust.Name, "Details", new { Id = cust.Id })</td>
                <td>@cust.MembershipType.Name</td>
            </tr>
        }
    </tbody>
</table>
